@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Open+Sans:wght@300&family=Raleway:wght@100&display=swap');
*{
   margin: 0;
   padding: 0; 
}
body{
    background-color: #F2D5CE;
}
main{
    background-color: whitesmoke;
    border: 2px;
    border-style: solid;
    border-color: #2A4759;
    border-radius: 20px ;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
}
header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
h1{
    font-family: 'New Rocker', cursive;
    font-size: 300%;
    color:   #658cbf;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 180%;
    color: #d98f8f;
    padding-bottom: 10px;

}
p{
    font-family: 'Open Sans', sans-serif;
    color: #2A4759;
    padding-top: 20px;
    padding-bottom: 10px;
}
hr{
    border-top: 1px;
    border-style: solid;
    border-color: #2A4759;
}
footer{
    padding-top: 50 px;
    text-align: center;
}